:root {
  --main-color: #03071c;
  --red-color: #db3939;
  --main-font: fantasy;
  --secondary-font: sans-serif;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* start header */
body {
  background-color: #132538;
}
.container-1 {
  background-color: #003366;
  width: 400px;
  height: 500px;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  margin: 40px auto;
  border-radius: 6%;
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: 1px 1px 10px black;
  position: relative;
}
.container-1 .header .calc {
  position: absolute;
  top: 17px;
  left: 15px;
  color: white;
  font-family: var(--secondary-font);
  font-weight: bold;
  font-size: 23px;
}
.container-1 .header .theme {
  font-family: var(--secondary-font);
  color: white;
  font-size: 11px;
  position: absolute;
  top: 28px;
  right: 84px;
  text-transform: uppercase;
}
.container-1 .header .no {
  position: absolute;
  right: 18px;
  top: 13px;
  color: white;
  font-size: 12px;
  letter-spacing: 3px;
}
.container-1 .header span.bar {
  width: 50px;
  height: 17px;
  background-color: var(--main-color);
  position: absolute;
  left: 332px;
  top: 28px;
  border-radius: 24px;
}
.container-1 .header span.ball {
  width: 12px;
  height: 12px;
  background-color: var(--red-color);
  position: absolute;
  right: 34px;
  top: 30px;
  border-radius: 50%;
}
/* end header */
/* start header-content */
.container-1 .content {
  width: calc(100% - 22px);
  height: 95px;
  background-color: var(--main-color);
  position: absolute;
  top: 60px;
  border-radius: 9px;
}
.container-1 .content .text {
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 40px;
  color: white;
  position: absolute;
  top: 22px;
  right: 8px;
}
/* end header-content */
.container-2 {
  position: relative;
  top: 172px;
}
.container-2 .buttons {
  display: grid;
  grid-template-columns: repeat(4, 94px);
  gap: 11px 3px;
}
.container-2 .buttons button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(218, 218, 218);
  width: 73px;
  height: 52px;
  border: none;
  border-radius: 10px;
  color: var(--main-color);
  font-weight: normal;
  margin: auto;
  font-family: var(--main-font);
  font-size: 30px;
  box-shadow: 0 3px rgb(158, 158, 158);
}
.container-2 .buttons button.color {
  background-color: rgb(51, 73, 145);
  color: whitesmoke;
  box-shadow: 0 5px rgb(40, 61, 114);
  font-family: var(--secondary-font);
}
.container-2 .buttons button.big-1 {
  width: 170px;
  height: 50px;
  margin-left: 12px;
  border: none;
}
.container-2 .buttons button.big-2 {
  width: 170px;
  height: 50px;
  font-size: 40px;
  transform: translateX(109px);
  color: whitesmoke;
  background-color: rgb(194, 80, 60);
  box-shadow: 0 5px rgb(141, 55, 40);
  font-family: var(--secondary-font);
  border: none;
}
